*.DS_Store
.idea
.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.env.*
.env
auth/

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
